body {
    background-color: #fce4ec;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: purple;
    background-color: pink;
    padding: 10px;
}

h2, h3 {
    color: darkmagenta;
}

a {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: white;
    background-color: purple;
    padding: 3px;
}

input {
    padding: 5px;
    margin: 5px;
}

input[type="submit"] {
    background-color: purple;
    color: white;
    border: none;
    padding: 6px;
}
